.ws-content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
    pointer-events: none;
}

.ws-inner{
    width: 100%;
    height: 100%;
    padding: 5px;
    background: #1d1d1d;
}

.ws-toolbar{
    width: 320px;
    height: 100%;
    background: #2D2D30;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    pointer-events: auto;
    position: relative;

    .ws-close{
        position: absolute;
        right: 0;
        margin: 5px;
        background: transparent;
        color: white;
        border: none;
        transition: background 0.25s;
        border-radius: 3px;
        outline: none;
        cursor: default;
    }

    .ws-close:hover{
        background: #1d1d1d;
    }

    .ws-logo{
        font-size: 18pt;
    }

    .ws-logo__caption{
        vertical-align: super;
        padding-left: 6px;
    }

    .ws-header{
        font-size: 12pt;
        margin-top: 14px;
        padding-left: 12px;
        padding-bottom: 2px;
        border-bottom: 1px solid #47484B;
        color: white;
    }

    .ws-option{
        padding-left: 5px;
        font-size: 11pt;
        margin: 4px 0;

        .ws-option__highlight{
            color: white;
            font-weight: bold;
        }
    }

    .ws-project{
        position: relative;
        padding: 1px 0;
        margin: 4px 0;
        cursor: pointer;
        transition: background 0.25s;
        overflow: hidden;
    }

    .ws-project:hover{
        background: #1d1d1d;
    }

    .ws-project__logo{
        background: red;
        display: inline-block;
        width: 32px;
        height: 32px;
        text-align: center;
        font-weight: bold;
        font-size: 20pt;
        box-sizing: border-box;
        padding-top: 6px;
        color: black;
    }

    .ws-project__inner{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 32px;
        padding-left: 4px;
    }

    .ws-project__name{
        font-size: 11pt;
    }

    .ws-project__path{
        overflow-x: hidden;
        white-space: nowrap;
        color: gray;
    }

    .ws-logo__icon{
        background: #2D2D30 url('../images/no_content_bg.svg') no-repeat;
        display: inline-block;
        width: 158px;
        height: 55px;
    }
}
